:root {
  --secondary-font: 'Fuzzy Bubbles', cursive;
  --primary-font: 'Lemonada', cursive;
  --primary-colour: #c61a09;
  --secondary-colour: rgba(244, 244, 244, 0.873);
  --hover-color: #1e1e1e;
}

body {
  background-color: var(--secondary-colour);
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container {
  min-height: 100vh;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

main {
  flex: 1;
}

.btn-primary,
.btn-outline-primary {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
}
.btn-primary:hover,
.btn-outline-primary :hover {
  background-color: var(--hover-color);
  color: var(--secondary-colour) !important;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rating span {
  color: var(--primary-colour);
}

.product {
  border: 1px var(--primary-colour) double;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}
.navbartop {
  color: var(--secondary-colour);
}

.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid var(--primary-colour);
  color: var(--primary-colour);
}
/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: var(--primary-colour);
  transition: 0.5s;
  border: 25px double var(--hover-color);
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}
.icon {
  max-height: 25px;
}
.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
.changeSearch {
  border: 4px double var(--primary-colour);
  border-radius: 5%;
  background-color: var(--secondary-colour);
}
.changeSearch :link {
  text-decoration: none;
}
.changeSearch li {
  color: var(--primary-colour);
}
.changeSearch :hover {
  color: var(--hover-color);
}
.cardbody {
  background-color: var(--secondary-colour);
  text-decoration: none !important;
}
.cardbody :hover {
  color: var(--hover-color);

  text-decoration: none;
}
.cardfull {
  border: 4px double var(--primary-colour);
  border-radius: 5%;
}
img-h {
  height: 50%;
}
Link {
  color: black;
  text-decoration: none !important;
}
.asd {
  color: var(--hover-color);
  text-decoration: none !important;
}
.asdf {
  color: var(--secondary-colour);
  font-weight: 500;
}
.carousesl {
  interval: 2000;
  height: 300px;
}
